name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - '**' # 所有分支都 build，但只有 main 推 docker
  pull_request:

permissions:
  contents: read
  packages: write

env:
  DOCKER_IMAGE: ghcr.io/jhaow/nextjs-basic-config
  APP_VERSION: ${{ github.sha }}

jobs:
  # 1️⃣ 构建 Next.js 项目
  build:
    name: Build Next.js App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Verify pnpm
        run: |
          node -v
          pnpm -v

      - name: Verify pnpm-lock.yaml
        run: |
          test -f pnpm-lock.yaml || (echo "❌ pnpm-lock.yaml 不存在" && exit 1)

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: |
          pnpm run build
          mkdir -p public
          # pnpm prune --prod --ignore-scripts

      - name: Move Dockerfile
        run: mv server/Dockerfile ./

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          include-hidden-files: true
          path: |
            .next/
            public/
            package.json
            pnpm-lock.yaml
            # node_modules/
            Dockerfile
          retention-days: 1

  # 2️⃣ 构建并推送 Docker 镜像
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin

      - name: Build Docker image
        run: |
          docker build --no-cache -f dist/Dockerfile -t $DOCKER_IMAGE:${GITHUB_SHA} dist

      - name: Push Docker image
        run: |
          docker push $DOCKER_IMAGE:${GITHUB_SHA}

      - name: Print docker pull command
        run: |
          echo "docker pull ${DOCKER_IMAGE}:${GITHUB_SHA}"
